apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "reverse-proxy.fullname" . }}
  labels:
    {{- include "reverse-proxy.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "reverse-proxy.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "reverse-proxy.selectorLabels" . | nindent 8 }}
    spec:
      hostname: reverse-proxy
      subdomain: atlas
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.repository }}:{{ .Values.tag }}"
          imagePullPolicy: {{ .Values.pullPolicy }}
          # command:
          #   - "/usr/local/apache2/init/init_index_html.sh"
          # cpu: 1000
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          lifecycle:
            postStart:
              exec:
                command: ["/usr/local/apache2/init/init_index_html.sh" ]
          env:
            - name: NAMESPACE
              value: "{{ .Release.Namespace }}"
            {{- if .Values.env }}
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            {{- end }}
          volumeMounts:
          - name: v-reverse-proxy-configs-auth-conf
            mountPath: /usr/local/apache2/conf.d/auth.conf
            subPath: auth.conf
          - name: v-reverse-proxy-configs-atlas-conf
            mountPath: /usr/local/apache2/conf.d/atlas.conf
            subPath: atlas.conf
          - name: v-reverse-proxy-configs-atlas2-conf
            mountPath: /usr/local/apache2/conf.d/atlas2.conf
            subPath: atlas2.conf
      volumes:
        - name: v-reverse-proxy-configs-auth-conf
          configMap:
            name: cm-reverse-proxy-configs-auth-conf
        - name: v-reverse-proxy-configs-atlas-conf
          configMap:
            name: cm-reverse-proxy-configs-atlas-conf
        - name: v-reverse-proxy-configs-atlas2-conf
          configMap:
            name: cm-reverse-proxy-configs-atlas2-conf