---
# Example values for service

# container image
# https://github.com/keycloak/keycloak-containers/blob/16.1.1/server/README.md
keycloak:
  tag: "16.1.0"
  env:
    KEYCLOAK_USER: "admin"
    KEYCLOAK_PASSWORD: "admin"
  realm_file_name: "realm_m4i.json"
  persistence:
    enabled: true
    # storageClass: "-"
    accessMode: ReadWriteOnce
    size: 1Gi
  external_ip: 51.105.169.241
  external_hostname: "aureliusdev.westeurope.cloudapp.azure.com"

atlas:
  tag: "2.2.0.3"
  persistence:
    enabled: true
    # storageClass: "-"
    accessMode: ReadWriteOnce
    size: 1Gi

reverse-proxy:
  tag: "1.0.8"

host_ip: 51.105.169.241
external_hostname: "aureliusdev.westeurope.cloudapp.azure.com"
elastic:
  elastic_search:
    replicaCount: 1
    version: 8.2.2
    persistence:
      enabled: true
      # storageClass: "-"
      accessMode: ReadWriteOnce
      size: 4Gi
  kibana:
    replicaCount: 1
    version: 8.2.2
  enterprise_search:
    replicaCount: 1
    version: 8.2.2

flink:
  repository: apache/flink
  tag: latest
  taskmanager_numberOfTaskSlots: 10
