{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.internalPort }}
      targetPort: {{ .Values.service.externalPort }}
      protocol: TCP
      name: {{ .Values.service.name }}
  selector: {{ include "python-rest.selectorLabels" . | nindent 4 }}
{{- end }}